.box1{
    background-color: #943fb5B5;
     height: 120px; 
}
.box2{
    background-color: #4b0d63;
     height: 60px;
}
.redes{

    font-size: 60px !important;
     color: #fff; 
}

.textos{
    color: #fff;
}